.slds-is-relative {
    position: relative;
}

.slds-blur {
    filter: blur(5px); /* Adjust the blur intensity as needed */
}

.slds-spinner_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.slds-brand-band {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 70%;
}

.h2 {
    /* Styles for the title only */
    padding: 15px;
    border: 1px solid #6f6970;
    /*border-radius: 22px;
    box-shadow: 0 4px 8px rgb(64 54 63 / 34%);*/
    width: 100%;
    text-align: center;
}

.slds-card {
    padding: 12px;
} 

button_custom {
    background-color: #128eb8;
    padding: 2px;
    width: 180px;
    border-radius: 5px;
    margin-top: 5px;
    text-align: center;
    border: none;
    color: white;
}

.slds-table {
    width: 100%;
    /*margin-top: 20px;*/
}

.slds-table th, .slds-table td {
    text-align: left;
    border: 1px dotted #bdc8cc;;
}

.slds-button {
    margin-top: 10px;
}